{% extends "estrutura.html" %}

{% block conteudo %}

<body>
    <form action="post" action="/inicio">
        <!--<h1 class="title-center">GymForce</h1>-->
        <h1 class="gymForce"><img src="../static/arnold_gymforce.png" alt="" width="300"></h1>
        <link rel="stylesheet" href="../static/inicio.css">
        <link rel="stylesheet" href="../static/news.css">

        <div class="outer-container">
            <div class="inner-container">
                <div class="slider">
                    <figure class="figure">
                        <img src="../static/5062966_100-whey-protein-max-titanium-4443_l1_637437988301914683.png" alt="Whey100 Max 900g" class="tamanho-fixo">
                        <figcaption class="title-center">Whey100 Max 900g</figcaption>
                        <div class="text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/caridade">
                                    <button type="button" class="btn btn-success">Comprar</button>
                                </a>
                            </li>
                        </div>
                    </figure>


                    <figure class="figure">
                        <img src="../static/0581_creatine-max-titanium-3310_m1_638163744915805560.png" alt="Creatina Max 300g" class="tamanho-fixo">
                        <figcaption class="title-center">Creatina Max 300g</figcaption>
                        <div class="text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/caridade">
                                    <button type="button" class="btn btn-success">
                                        Comprar
                                    </button>
                                </a>
                           </li>
                        </div>
                    </figure>

                    <figure class="figure">
                        <img src="../static/img-product.png" alt="Basic Whey Growth 1kg" class="tamanho-fixo">
                        <figcaption class="title-center">Basic Whey Growth 1kg</figcaption>
                        <div class="text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/caridade">
                                    <button type="button" class="btn btn-success">
                                        Comprar
                                    </button>
                                </a>
                            </li>
                        </div>
                    </figure>

                    <figure class="figure">
                        <img src="../static/100-whey-gold-standard-907g-optimum-nutrition.png" alt="Whey Gold 100% Standard 907g" class="tamanho-fixo">
                        <figcaption class="title-center">Gold 100% Standard 907g</figcaption>
                        <div class="text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/caridade">
                                    <button type="button" class="btn btn-success">
                                        Comprar
                                    </button>
                                </a>
                            </li>
                        </div>
                    </figure>

                    <figure class="figure">
                        <img src="../static/iso.png" alt="ISO Integralmedica Triple Zero 900g" class="tamanho-fixo">
                        <figcaption class="title-center">ISO Integralmedica 900g</figcaption>
                        <div class="text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/caridade">
                                    <button type="button" class="btn btn-success">
                                        Comprar
                                    </button>
                                </a>
                            </li>
                        </div>
                    </figure>

                    <figure class="figure">
                        <img src="../static/creatina-monohidratada-250g-growth-supplements-1.png" alt="Creatina Growth 250g" class="tamanho-fixo">
                        <figcaption class="title-center">Creatina Growth 250g</figcaption>
                        <div class="text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/caridade">
                                    <button type="button" class="btn btn-success">
                                        Comprar
                                    </button>
                                </a>
                            </li>
                        </div>
                    </figure>

                    <figure class="figure">
                        <img src="../static/pre.png" alt="Pré Treino - Athletica" class="tamanho-fixo">
                        <figcaption class="title-center">Pré Treino - Athletica</figcaption>
                        <div class="text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/caridade">
                                    <button type="button" class="btn btn-success">
                                        Comprar
                                    </button>
                                </a>
                            </li>
                        </div>
                    </figure>
                </div>
            </div>
        </div>

        <h1 class="title-center">News Bodybuilder</h1>

        <div class="outer-container">
            <div style="display: flex; align-items: center; padding: 10px;">
                <img src="../static/RAMON.jpg" alt="RAMON" style="margin-right: 20px;">
                <div>
                    <h2>Arnold Classic 2024: veja os valores das premiações</h2>
                    <p>De 29 de fevereiro a 3 de março, o mundo do fisiculturismo estará atento ao Arnold Classic 2024, realizado em Ohio, nos Estados Unidos. O evento faz parte do Arnold Sports Festival, que ocorrerá no Columbus Convention Center. A competição de bodybuilding apresentará quatro categorias principais, sendo: a Wellness Internacional, a Arnolds Men’s Physique, Classic Physique — que contará com a presença do brasileiro Ramon Dino, atual campeão — e a Arnold Classic.</p>
                </div>
            </div>

            <div style="padding: 10px;">
                <div style="display: flex; align-items: center; flex-direction: row-reverse;">
                    <img src="../static/brandão.jpg" alt="brandão" style="margin-left: 20px;">
                    <div>
                        <h2 class="text-news">Mr. Olympia 2024 será realizado no mês de outubro em Las Vegas</h2>
                        <p>O Mr. Olympia de 2024 já tem data e local definidos. De acordo com o presidente do Olympia, Dan Solomon, o principal campeonato do mundo de fisiculturismo vai retornar a Las Vegas e ocorrerá entre o dia 10 e 13 de outubro.

                            A próxima edição vai marcar o aniversário de 60 anos do Mr. Olympia, que ocorre desde 1965 e é o torneio mais aguardado do calendário do fisiculturismo mundial, sendo o local onde os maiores atletas desejam estar.

                            Solomon revelou que os atletas ficarão no luxuoso Resort's World Hotel, em Nevada, com acesso fácil e rápido ao Centro de Convenções de Las Vegas, contando com um teatro completo e espaçoso. Ele acrescentou que os atletas desfrutarão de resorts de primeira classe durante sua estada.

                            Em 2023, o Mr. Olympia foi realizando em Orlando, na Flórida, e teve alguns novos campeões. Porém, dinastias também se mantiveram, como Chris Bumstead, na Classic Physique, e a brasileira Francielle Mattos, na Wellness.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

{% endblock %}
